#container{
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

body {
    background-color: #2E80AB;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #333333;
}

div{
    margin: 10pt;
}

.databox{
    background-color: #FFFFFF;
    width: 30%;
    height: 90pt;
    padding-top: 10pt;
    float: left;
}

#searchbox{
    clear: left;
}

.dataspan{
    font-size: 40pt;
    font-weight: 100;
}

#searchresult{
    padding-top: 15pt;
    height: 60pt;
    font-size: 30pt;
    clear: left;
}

button {
    background-color: #AB2E80; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type=text] {
    width: 50%;
    padding: 18px 20px;
    margin: 8px 0;
    font-size:15px;
}

ul {
    list-style:none;
}

#listoften {
    text-align:left;
    padding-left: 10%;
}

table {
    margin-left:auto; 
    margin-right:auto;
}

path {
	stroke: white;
	stroke-width: 3;
	fill: none;
}
			
.axis {
	shape-rendering: crispEdges;
}

.x.axis line {
	stroke: lightgrey;
}

.x.axis .minor {
	stroke-opacity: .5;
}

.x.axis path {
	display: none;
}

.y.axis line, .y.axis path {
	fill: none;
	stroke: #000;
}

.aGraph {
    width: 45%;
    float:left;
    
}

#chartarea {
    clear: left;
    margin-left: auto;
    margin-right:auto;
}

#searchresult, #listoften, #errortable, #pubdate,h2 {
    color: white;
}

#pubdate {
    font-size: 17pt;
}

#errortable {
    text-align:left;
    padding-left: 10%;
}

td {
    width: 40%;
}

h2 {
    text-align:left;
    padding-left: 10%;
    font-weight: 100;
    font-size: 20pt;
}

.graphheading {
   margin-left: 15%;
   margin-right: 10%;
   width: 20%;
   float: left;
   text-align:left;
   font-weight: 100;
   font-size: 20pt;
   color: white;
}

#memgraph {
    clear: left;
}